table.legend {
	width: 100%;
}
table.legend td.leg-bin {
	width: 1%;
}
table.legend caption {
	text-align: left;
}
table.legend td.leg-bin {
	text-align: center;
}
table.legend td.leg-bin-desc {
	padding-left: 5px;
}
/* precinct */
table.legend.precinct img {
	width: 20px;
	height: 20px;
	border: 2px solid rgba(0,0,0,0.5);
}
table.legend.precinct .leg-bin-0 img {
	background-color: rgba(254, 240, 217, 0.5);
}
table.legend.precinct .leg-bin-1 img {
	background-color: rgba(252, 141, 89, 0.5);
}
table.legend.precinct .leg-bin-2 img {
	background-color: rgba(252, 141, 89, 0.5);
}
table.legend.precinct .leg-bin-3 img {
	background-color: rgba(227, 74, 51, 0.5);
}
table.legend.precinct .leg-bin-4 img {
	background-color: rgba(179, 0, 0, 0.5);
}
/* location */
table.legend.location img {
	background-color: rgba(95,174,231,0.7);
	border: 2px solid rgba(0,0,0,0.5);
}
table.legend.location .leg-bin-0 img {
	border-radius: 10px;
	width: 10px;
	height: 10px;
}
table.legend.location .leg-bin-1 img {
	border-radius: 20px;
	width: 20px;
	height: 20px;
}
table.legend.location .leg-bin-2 img {
	border-radius: 30px;
	width: 30px;
	height: 30px;
}
table.legend.location .leg-bin-3 img {
	border-radius: 40px;
	width: 40px;
	height: 40px;
}
table.legend.location .leg-bin-4 img {
	border-radius: 50px;
	width: 50px;
	height: 50px;
}
/* heat */
table.legend.heat {
	border-collapse: collapse;
	margin-left: 3px;
}
table.legend.heat caption{
	margin-left: -3px;
	margin-bottom: 3px;
}
table.legend.heat td.leg-bin{
	width: 20px;
	height: 20px;
	padding: 0;
	border-left: 2px solid rgba(0,0,0,0.5);
	border-right: 2px solid rgba(0,0,0,0.5);
}
table.legend.heat .leg-bin-0 {
	border-top: 2px solid rgba(0,0,0,0.5);
	background-color: rgba(0,0,255,0.7);
}
table.legend.heat .leg-bin-1 {
	background-color: rgba(0,255,255,0.7);
}
table.legend.heat .leg-bin-2 {
	background-color: rgba(144,238,144,0.7);
}
table.legend.heat .leg-bin-3 {
	background-color: rgba(255,255,0,0.7);
}
table.legend.heat .leg-bin-4 {
	background-color: rgba(255,165,0,0.7);
}
table.legend.heat .leg-bin-5 {
	border-bottom: 2px solid rgba(0,0,0,0.5);
	background-color: rgba(255,0,0,0.7);
}

